@import url('https://fonts.google.com/specimen/Be+Vietnam+Pro');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body{
    background-color: #ffff;
    width: 1440px;
    min-width: 100vw;
}

.container{
    width: 1440px;

}

header{
    font-size: 13px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 65px, 165px, 65px, 165px;
    margin-top: 75px;
    margin-left: 300px;
}

header svg{
    width: 73px;
}

.navbar-center{
    display: flex;
    gap: 28px;
    font-weight: 500px;
}

.contacto{
    /* border: 1px solid black; */
    background-color: #8B48BF;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    font-size: 13px;
    color: #ffff;
    width: 90px;
}

.padel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-top: 120px;
    margin-left: 300px;
    gap: 70px;
}

.padel img{
    width: 540px ;
}

.infopadel{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 25px;
}

.infopadel .live{
    font-size: 50px;
    font-weight: 700;
    text-align: right;
}

.infopadel .context{
    font-weight: 500;
    text-align: right;
    font-size: 1rem;
}

.pros{
    display: flex;
    margin-left: 300px;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
    background-color: #8B48BF;
}

.prosizq, .prosder{
    color: #ffff;
    padding: 25px 50px 25px 50px;
}

.prosizq{
    font-weight: 700;
    font-size: 36px;
    margin-left: 25px;
}

.prosder{
    font-weight: 500;
    margin-right: 5px;
}