@import url('https://fonts.google.com/specimen/Be+Vietnam+Pro');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body{
    background-color: #ffff;
    width: 1440px;
    min-width: 100vw;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.container{
    width: 1440px;

}

header{
    font-size: 13px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 65px, 165px, 65px, 165px;
    margin-top: 75px;
    margin-left: 300px;
}

header svg{
    width: 73px;
    margin-left: 100px;
}

.navbar-center{
    display: flex;
    gap: 28px;
    font-weight: 500px;
}

.contacto{
    background-color: #8B48BF;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    font-size: 13px;
    color: #ffff;
    width: 90px;
    margin-right: 90px;
}

.contacto2{
    background-color: #8B48BF;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    font-size: 13px;
    color: #ffff;
    width: 90px;
}

.padel{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 25px; */
    margin-top: 120px;
    margin-left: 300px;
    gap: 70px;
}

.padel img{
    width: 500px ;
    margin-left: 100px;
}

.infopadel{
    font-size: 16.56px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 25px;
    margin-right: 90px;
}

.infopadel .live{
    font-size: 40px;
    font-weight: 700;
    text-align: right;
}

.infopadel .context{
    font-weight: 500;
    text-align: right;
    font-size: 1rem;
}

.pros{
    display: flex;
    margin-left: 300px;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
    background-color: #8B48BF;
}

.prosizq, .prosder{
    color: #ffff;
    padding: 25px 50px 25px 50px;
}

.prosizq{
    font-weight: 700;
    font-size: 36px;
    margin-left: 25px;
}

.prosder{
    font-weight: 500;
    margin-right: 5px;
    
}

.perks{
    background-color: #FAFAFA;
    margin-left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.perks1,.perks2,.perks3{
    display: flex;
    flex-wrap: nowrap;
    padding: 40px;
    gap: 20px;
}

.number{
    background-color: #8B48BF;
    border-radius: 30px;
    color: #ffff;
    padding: 10px;
    height: 37px;
    font-weight: 700;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.infoup{
    font-weight: 700;
}

.infodown{
    color: #B3B2B7
}